.hero {
  display: flex;
  padding: 4rem;
  &__info {
    h1 {
      color: $color-primary;
      font-size: 2rem;
    }
  }

  &__img {
    width: 10%;
    height: 5%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}
