.hero {
  display: grid;
  padding: 4rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 550px) {
    background: red;
    grid-template-columns: repeat(2, 1fr);
  }

  &__info {
    order: 2;
  }

  &__img {
    order: 1;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}
