.projects {
  h1 {
    text-align: center;
    font-size: 3rem;
  }
}

.project__list {
  display: grid;
}

.project {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__img {
    img {
      width: 50%;
      height: 50%;
    }
  }

  &__info {
  }
}
