h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.project__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
  align-items: center;
  justify-self: center;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media screen and (min-width: 550px) {
    width: 36rem;
    height: 24rem;
    margin-bottom: 3rem;
  }

  &__img {
    @media screen and (min-width: 550px) {
      width: 36rem;
      height: 24rem;
    }

    img {
      width: 100%;

      @media screen and (min-width: 550px) {
        height: 20rem;
        object-fit: cover;
        background-position: bottom;
      }
    }
  }

  &__info {
    background: #f4d6cc;
    width: 100%;
    color: #023c40;

    @media screen and (min-width: 550px) {
    }

    &--title {
      line-height: 2;
    }

    &--sub {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: #023c40;
      border-top: 1px solid #333;

      small:first-child {
        border-right: 1px solid #333;
      }

      a {
        text-decoration: none;
        line-height: 2;
        color: #023c40;
        font-size: 1.5rem;
      }
    }
  }
}
